body{
    background-color: #00002c;
    color: #e0e0eb;
}
.header{
    text-align: center;
    font-family: 'IM Fell English SC', serif;
    font-size: 40px;
    margin: 25px;
}
p{
    margin: 2em;
    font-family: 'Georgia', serif;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 0em, 0em, 2em;
}
iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#joke{
    text-align: center;
}